## ***Cleaning Our Data***

In [118]:
# Additional Dependeics
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import pandas as pd
import numpy as np

In [119]:
# This is the file import and you can upload it when you file run it so you don't have to reload each time.
data = 'tester.txt'
df = pd.read_csv(data)

/Users/jacobcortez/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [120]:
# Preview of the DataFrame
df

,Sex,Age recode with single ages and 85+,Median household income inflation adj to 2018,Histology recode - broad groupings,"Derived AJCC Stage Group, 7th ed (2010-2015)",Survival months,"Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)",CS Schema - AJCC 6th Edition
0,Male,73 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,0082,Non-Hispanic White,Prostate
1,Male,66 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,IIB,0061,Non-Hispanic White,Prostate
2,Female,54 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IIA,0024,Non-Hispanic White,Breast
3,Female,82 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,0063,Non-Hispanic White,Breast
4,Female,56 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,0045,Non-Hispanic White,Breast
...,...,...,...,...,...,...,...,...
2102525,Female,64 years,"$40,000 - $44,999",8590-8679: specialized gonadal neoplasms,IA,37,Hispanic (All Races),Ovary
2102526,Male,70 years,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,32,Non-Hispanic White,Prostate
2102527,Female,51 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,27,Non-Hispanic White,Thyroid
2102528,Male,71 years,"$75,000+",8050-8089: squamous cell neoplasms,II,42,Non-Hispanic White,Anus
2102529,Male,59 years,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,28,Non-Hispanic Black,Prostate

In [121]:
df = df.loc[df['Survival months'] != 'Unknown']

In [122]:
df['Survival months'] = pd.to_numeric(df['Survival months'])
df['Survival months'].dtype

<ipython-input-122-71269e018ce8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Survival months'] = pd.to_numeric(df['Survival months'])

dtype('int64')

In [123]:
df.columns

Index(['Sex', 'Age recode with single ages and 85+',
       'Median household income inflation adj to 2018',
       'Histology recode - broad groupings',
       'Derived AJCC Stage Group, 7th ed (2010-2015)', 'Survival months',
       'Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)',
       'CS Schema - AJCC 6th Edition'],
      dtype='object')

In [124]:
# Rename the columns in new data frame
df_1 = df.rename(columns={'Sex': 'Gender', 'Age recode with single ages and 85+':'Age',
       'Median household income inflation adj to 2018':'Median Household Income',
       'Primary Site - labeled':'Cancer Site', 'Histology recode - broad groupings':'Cancer Type',
       'Derived AJCC Stage Group, 7th ed (2010-2015)':'Cancer Stage', 'Survival months':'Survival Months',
       'Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)':'Race'})
df_1

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Survival Months,Race,CS Schema - AJCC 6th Edition
0,Male,73 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,82,Non-Hispanic White,Prostate
1,Male,66 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,IIB,61,Non-Hispanic White,Prostate
2,Female,54 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IIA,24,Non-Hispanic White,Breast
3,Female,82 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,63,Non-Hispanic White,Breast
4,Female,56 years,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,45,Non-Hispanic White,Breast
...,...,...,...,...,...,...,...,...
2102525,Female,64 years,"$40,000 - $44,999",8590-8679: specialized gonadal neoplasms,IA,37,Hispanic (All Races),Ovary
2102526,Male,70 years,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,32,Non-Hispanic White,Prostate
2102527,Female,51 years,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,27,Non-Hispanic White,Thyroid
2102528,Male,71 years,"$75,000+",8050-8089: squamous cell neoplasms,II,42,Non-Hispanic White,Anus
2102529,Male,59 years,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,28,Non-Hispanic Black,Prostate

In [125]:
df_1['Age'] = df_1['Age'].str.replace(' years','')
df_1['Age'] = df_1['Age'].str.replace('+','')
df_1

<ipython-input-125-1e69a3a93703>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_1['Age'] = df_1['Age'].str.replace('+','')

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Survival Months,Race,CS Schema - AJCC 6th Edition
0,Male,73,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,82,Non-Hispanic White,Prostate
1,Male,66,"$75,000+",8140-8389: adenomas and adenocarcinomas,IIB,61,Non-Hispanic White,Prostate
2,Female,54,"$75,000+",8500-8549: ductal and lobular neoplasms,IIA,24,Non-Hispanic White,Breast
3,Female,82,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,63,Non-Hispanic White,Breast
4,Female,56,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,45,Non-Hispanic White,Breast
...,...,...,...,...,...,...,...,...
2102525,Female,64,"$40,000 - $44,999",8590-8679: specialized gonadal neoplasms,IA,37,Hispanic (All Races),Ovary
2102526,Male,70,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,32,Non-Hispanic White,Prostate
2102527,Female,51,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,27,Non-Hispanic White,Thyroid
2102528,Male,71,"$75,000+",8050-8089: squamous cell neoplasms,II,42,Non-Hispanic White,Anus
2102529,Male,59,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,28,Non-Hispanic Black,Prostate

In [ ]:
# # Rename the columns in new data frame
# df_1 = df.rename(columns={'Survival months':'Survival Months','Age recode with <1 year olds': 'Age Group',
#        'Derived AJCC Stage Group, 7th ed (2010-2015)':'Cancer Stage', 'Sex': 'Gender',
#        'CS Schema - AJCC 6th Edition': 'Cancer Site',
#        'Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)':'Race',
#        'Median household income inflation adj to 2018':'Median Household Income'})
# df_1

In [126]:
df_1 = df_1.loc[df_1['Age'] != 'Unknown']

In [127]:
df_1['Age'] = pd.to_numeric(df_1['Age'])
df_1['Age'].dtype

dtype('int64')

In [128]:
# Drop all rows with missing information
df_clean_data = df_1.dropna(how='any')

In [129]:
#Iterate through rows to identify what columns have null values
for column in df_clean_data.columns:
    print(f"Column {column} has {df_clean_data[column].isnull().sum()} null values")

Column Gender has 0 null values
Column Age has 0 null values
Column Median Household Income has 0 null values
Column Cancer Type has 0 null values
Column Cancer Stage has 0 null values
Column Survival Months has 0 null values
Column Race has 0 null values
Column CS Schema - AJCC 6th Edition has 0 null values

In [130]:
df_clean_data.head()

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Survival Months,Race,CS Schema - AJCC 6th Edition
0,Male,73,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,82,Non-Hispanic White,Prostate
1,Male,66,"$75,000+",8140-8389: adenomas and adenocarcinomas,IIB,61,Non-Hispanic White,Prostate
2,Female,54,"$75,000+",8500-8549: ductal and lobular neoplasms,IIA,24,Non-Hispanic White,Breast
3,Female,82,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,63,Non-Hispanic White,Breast
4,Female,56,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,45,Non-Hispanic White,Breast

### ***Cleaned Data Frame***

In [165]:
y = df_clean_data['Survival Months']
y

0          82
1          61
2          24
3          63
4          45
           ..
2102525    37
2102526    32
2102527    27
2102528    42
2102529    28
Name: Survival Months, Length: 2101227, dtype: int64

In [166]:
testing_data = df_clean_data.drop('Survival Months', axis=1)
testing_data

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Race,CS Schema - AJCC 6th Edition
0,Male,73,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,Non-Hispanic White,Prostate
1,Male,66,"$75,000+",8140-8389: adenomas and adenocarcinomas,IIB,Non-Hispanic White,Prostate
2,Female,54,"$75,000+",8500-8549: ductal and lobular neoplasms,IIA,Non-Hispanic White,Breast
3,Female,82,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,Non-Hispanic White,Breast
4,Female,56,"$75,000+",8500-8549: ductal and lobular neoplasms,IA,Non-Hispanic White,Breast
...,...,...,...,...,...,...,...
2102525,Female,64,"$40,000 - $44,999",8590-8679: specialized gonadal neoplasms,IA,Hispanic (All Races),Ovary
2102526,Male,70,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,Non-Hispanic White,Prostate
2102527,Female,51,"$75,000+",8140-8389: adenomas and adenocarcinomas,I,Non-Hispanic White,Thyroid
2102528,Male,71,"$75,000+",8050-8089: squamous cell neoplasms,II,Non-Hispanic White,Anus
2102529,Male,59,"$40,000 - $44,999",8140-8389: adenomas and adenocarcinomas,I,Non-Hispanic Black,Prostate

In [177]:
X = pd.get_dummies(testing_data)
X

,Age,Gender_Female,Gender_Male,"Median Household Income_$35,000 - $39,999","Median Household Income_$40,000 - $44,999","Median Household Income_$45,000 - $49,999","Median Household Income_$50,000 - $54,999","Median Household Income_$55,000 - $59,999","Median Household Income_$60,000 - $64,999","Median Household Income_$65,000 - $69,999",...,CS Schema - AJCC 6th Edition_SoftTissue,CS Schema - AJCC 6th Edition_Stomach,CS Schema - AJCC 6th Edition_SubLarynx,CS Schema - AJCC 6th Edition_SubmandibularGland,CS Schema - AJCC 6th Edition_SupraLarynx,CS Schema - AJCC 6th Edition_Testis,CS Schema - AJCC 6th Edition_Thyroid,CS Schema - AJCC 6th Edition_Urethra,CS Schema - AJCC 6th Edition_Vagina,CS Schema - AJCC 6th Edition_Vulva
0,73,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,54,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,82,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,56,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2102525,64,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2102526,70,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2102527,51,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2102528,71,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2102529,59,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### ***Start of Machine Learning***

In [178]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [179]:
model = LinearRegression()
model

LinearRegression()

In [180]:
model.fit(X_train, y_train)

LinearRegression()

In [181]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.33416849856243547
Testing Data Score: 0.3343284964961636

In [ ]:
model.coef_

In [182]:
model = RandomForestRegressor()
model

RandomForestRegressor()

In [183]:
model.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

In [ ]:
predicated = model.predict(X_test)
mean_absolute_error(y_test,predicated)

### ***Sample Data Frame***

In [150]:
df_sample = df_clean_data.sample(frac=.10)
df_sample.head()

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Survival Months,Race,CS Schema - AJCC 6th Edition
790871,Male,54,"$75,000+",9670-9699: nhl - mature b-cell lymphomas,IIIEA,32,Hispanic (All Races),Lymphoma
362996,Male,85,"$55,000 - $59,999",8050-8089: squamous cell neoplasms,IB,26,Non-Hispanic White,Lung
1761381,Female,85,"$65,000 - $69,999",8720-8799: nevi and melanomas,IB,46,Non-Hispanic White,Melanoma
1252847,Female,61,"$50,000 - $54,999",8140-8389: adenomas and adenocarcinomas,IVB,16,Hispanic (All Races),Colon
589657,Female,42,"$75,000+",8720-8799: nevi and melanomas,IB,42,Non-Hispanic White,Melanoma

In [168]:
y_sample = df_sample['Survival Months']/12
y_sample = y_sample.round()
y_sample

790871     3.0
362996     2.0
1761381    4.0
1252847    1.0
589657     4.0
          ...
968005     3.0
217405     4.0
2080670    3.0
230594     0.0
1524728    6.0
Name: Survival Months, Length: 210123, dtype: float64

In [169]:
testing_data_sample = df_sample.drop(['Survival Months'], axis=1)
testing_data_sample

,Gender,Age,Median Household Income,Cancer Type,Cancer Stage,Race,CS Schema - AJCC 6th Edition
790871,Male,54,"$75,000+",9670-9699: nhl - mature b-cell lymphomas,IIIEA,Hispanic (All Races),Lymphoma
362996,Male,85,"$55,000 - $59,999",8050-8089: squamous cell neoplasms,IB,Non-Hispanic White,Lung
1761381,Female,85,"$65,000 - $69,999",8720-8799: nevi and melanomas,IB,Non-Hispanic White,Melanoma
1252847,Female,61,"$50,000 - $54,999",8140-8389: adenomas and adenocarcinomas,IVB,Hispanic (All Races),Colon
589657,Female,42,"$75,000+",8720-8799: nevi and melanomas,IB,Non-Hispanic White,Melanoma
...,...,...,...,...,...,...,...
968005,Male,85,"$60,000 - $64,999",8140-8389: adenomas and adenocarcinomas,IIB,Non-Hispanic White,Prostate
217405,Female,65,"$55,000 - $59,999","8440-8499: cystic, mucinous and serous neoplasms",IV,Non-Hispanic White,Peritoneum
2080670,Male,64,"< $35,000",8140-8389: adenomas and adenocarcinomas,IIA,Non-Hispanic Black,Prostate
230594,Male,71,"$55,000 - $59,999",8140-8389: adenomas and adenocarcinomas,OCCULT,Non-Hispanic White,Lung
1524728,Male,62,"$75,000+",8720-8799: nevi and melanomas,I,Non-Hispanic White,MelanomaChoroid

In [170]:
X_sample = pd.get_dummies(testing_data_sample)
X_sample

,Age,Gender_Female,Gender_Male,"Median Household Income_$35,000 - $39,999","Median Household Income_$40,000 - $44,999","Median Household Income_$45,000 - $49,999","Median Household Income_$50,000 - $54,999","Median Household Income_$55,000 - $59,999","Median Household Income_$60,000 - $64,999","Median Household Income_$65,000 - $69,999",...,CS Schema - AJCC 6th Edition_SoftTissue,CS Schema - AJCC 6th Edition_Stomach,CS Schema - AJCC 6th Edition_SubLarynx,CS Schema - AJCC 6th Edition_SubmandibularGland,CS Schema - AJCC 6th Edition_SupraLarynx,CS Schema - AJCC 6th Edition_Testis,CS Schema - AJCC 6th Edition_Thyroid,CS Schema - AJCC 6th Edition_Urethra,CS Schema - AJCC 6th Edition_Vagina,CS Schema - AJCC 6th Edition_Vulva
790871,54,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
362996,85,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1761381,85,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1252847,61,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
589657,42,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968005,85,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
217405,65,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2080670,64,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230594,71,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1524728,62,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### ***Start of Machine Learning***

In [171]:
print("Shape: ", X_sample.shape, y_sample.shape)

Shape:  (210123, 197) (210123,)

In [172]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_sample, y_sample, random_state=1)

In [173]:
model = LinearRegression()
model

LinearRegression()

In [174]:
model.fit(X_train, y_train)

LinearRegression()

In [175]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.3320071705694
Testing Data Score: 0.3334477365375821

In [160]:
model = RandomForestRegressor()
model

RandomForestRegressor()

In [161]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [162]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.6803392228871972
Testing Data Score: 0.2415378427350997

In [176]:
predicated = model.predict(X_test)
mean_absolute_error(y_test,predicated)

1.5700558716521784