<a href="https://colab.research.google.com/github/pxm7946/Project4-CancerData/blob/main/Machine_Learning_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# Dependencies
import pandas as pd
import numpy as np

In [25]:
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt: ignored

In [30]:
# Additional Dependeics
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
# Read in the file
df = pd.read_csv('CancerData.txt')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
# Preview of the DataFrame
df

        Survival months  ... Median household income inflation adj to 2018
0                  0082  ...                                      $75,000+
1                  0061  ...                                      $75,000+
2                  0024  ...                                      $75,000+
3                  0063  ...                                      $75,000+
4                  0045  ...                                      $75,000+
...                 ...  ...                                           ...
2102525              37  ...                             $40,000 - $44,999
2102526              32  ...                             $40,000 - $44,999
2102527              27  ...                                      $75,000+
2102528              42  ...                                      $75,000+
2102529              28  ...                             $40,000 - $44,999

[2102530 rows x 7 columns]

Warning: total number of rows (2102530) exceeds max_rows (20000). Limiting to first (20000) rows.

In [50]:
df = df.loc[df['Survival months'] != 'Unknown']

In [51]:
df['Survival months'] = pd.to_numeric(df['Survival months'])
df['Survival months'].dtype

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

dtype('int64')

In [55]:
df.columns

Index(['Survival months', 'Age recode with <1 year olds',
       'Derived AJCC Stage Group, 7th ed (2010-2015)', 'Sex',
       'CS Schema - AJCC 6th Edition',
       'Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)',
       'Median household income inflation adj to 2018'],
      dtype='object')

In [56]:
# Rename the columns in new data frame
df_1 = df.rename(columns={'Survival months':'Survival Months','Age recode with <1 year olds': 'Age Group',
       'Derived AJCC Stage Group, 7th ed (2010-2015)':'Cancer Stage', 'Sex': 'Gender',
       'CS Schema - AJCC 6th Edition': 'Cancer Site',
       'Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)':'Race',
       'Median household income inflation adj to 2018':'Median Household Income'})
df_1

         Survival Months  ... Median Household Income
0                     82  ...                $75,000+
1                     61  ...                $75,000+
2                     24  ...                $75,000+
3                     63  ...                $75,000+
4                     45  ...                $75,000+
...                  ...  ...                     ...
2102525               37  ...       $40,000 - $44,999
2102526               32  ...       $40,000 - $44,999
2102527               27  ...                $75,000+
2102528               42  ...                $75,000+
2102529               28  ...       $40,000 - $44,999

[2101227 rows x 7 columns]

In [57]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [58]:
#Iterate through rows to identify what columns have null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column Survival months has 0 null values
Column Age recode with <1 year olds has 0 null values
Column Derived AJCC Stage Group, 7th ed (2010-2015) has 0 null values
Column Sex has 0 null values
Column CS Schema - AJCC 6th Edition has 0 null values
Column Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic) has 0 null values
Column Median household income inflation adj to 2018 has 0 null values

In [59]:
testing_data = df_1.drop('Survival Months', axis=1)

In [61]:
train_dummies = pd.get_dummies(testing_data)
train_dummies

         Age Group_00 years  ...  Median Household Income_Unknown/missing/no match/Not 1990-2017
0                         0  ...                                                  0
1                         0  ...                                                  0
2                         0  ...                                                  0
3                         0  ...                                                  0
4                         0  ...                                                  0
...                     ...  ...                                                ...
2102525                   0  ...                                                  0
2102526                   0  ...                                                  0
2102527                   0  ...                                                  0
2102528                   0  ...                                                  0
2102529                   0  ...                                                  0

[2101227 rows x 172 columns]

In [ ]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X = notes[['variance','skewness','curtosis', 'entropy']]
y = notes['class']

print("Shape: ", X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))
train_df.head()